* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box; }

#welcome-page {
  width: 100%;
  height: 1280px;
  background-image: url("../img/pic.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  #welcome-page #menu {
    width: 89.7%;
    height: 117px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.2);
    top: 78px;
    left: 50%;
    transform: translateX(-50%);
    position: relative; }
    #welcome-page #menu #logo {
      border-radius: 50%;
      float: left;
      background-color: rgba(0, 227, 254, 0);
      border: 3px solid white;
      width: 38px;
      height: 38px; }
    #welcome-page #menu ul {
      position: absolute;
      list-style: none;
      top: 0;
      left: 50%;
      width: 278px;
      height: 11px;
      transform: translate(-50%, 50%); }
      #welcome-page #menu ul li {
        display: inline-block;
        padding: 0 5px;
        font-family: 'Montserrat', sans-serif; }
        #welcome-page #menu ul li a {
          text-decoration: none;
          color: white; }
    #welcome-page #menu .fa-search {
      color: white;
      position: absolute;
      top: 0;
      right: 2em;
      font-size: 1.5em; }
    #welcome-page #menu .fa-bars {
      color: white;
      float: right;
      font-size: 1.5em; }
  #welcome-page #naglowek {
    width: 60%;
    height: 667px;
    margin: 20.6% auto 12.3% auto; }
    #welcome-page #naglowek h1 {
      color: #ffffff;
      font-size: 8em;
      font-weight: 400;
      text-align: center;
      font-family: "Playfair Display";
      text-shadow: 2px 2px 5px rgba(1, 1, 1, 0.2); }
    #welcome-page #naglowek p {
      color: #ffffff;
      font-size: 1.25em;
      font-weight: 300;
      line-height: 1.7;
      text-align: center;
      display: block;
      width: 543px;
      margin: 0 auto;
      font-family: 'Montserrat', sans-serif; }
    #welcome-page #naglowek button {
      width: 163px;
      height: 46px;
      background-color: #da7074;
      color: #ffffff;
      font-size: 0.875em;
      font-weight: 700;
      text-align: center;
      border-radius: 25px 25px;
      margin: 4.3% auto 0 auto;
      display: block;
      position: relative; }
  #welcome-page #play {
    position: absolute;
    width: 82px;
    height: 82px;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3em;
    color: #ffffff;
    border: 3px solid #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; }

#image-row {
  width: 100%;
  height: 500px;
  font-family: 'Montserrat', sans-serif; }
  #image-row ul {
    width: 100%;
    height: 100%;
    list-style: none; }
    #image-row ul li {
      width: calc(100% / 4);
      height: 100%;
      float: left;
      text-align: center; }
      #image-row ul li:first-child {
        background-image: url("../img/Layer-11.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; }
      #image-row ul li:nth-child(2) {
        background-image: url("../img/Layer-8.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; }
      #image-row ul li:nth-child(3) {
        background-image: url("../img/Layer-9.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; }
      #image-row ul li:last-child {
        background-image: url("../img/Layer-10.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; }
      #image-row ul li h3 {
        color: #ffffff;
        margin-top: 20em;
        font-size: 1.125em;
        font-weight: 600;
        line-height: 1.667;
        text-align: center; }
      #image-row ul li p {
        color: #ffffff;
        font-size: 1.125em;
        font-style: italic;
        line-height: 1.667; }

#stopka {
  width: 100%;
  margin-top: 115px;
  font-family: 'Montserrat', sans-serif; }
  #stopka .cols {
    width: 79.4%;
    margin: 0 auto; }
    #stopka .cols div {
      width: calc(100% / 4);
      float: left;
      margin-bottom: 5%; }
      #stopka .cols div h3 {
        color: #151515;
        font-size: 0.875em;
        font-weight: 700;
        line-height: 1.857; }
      #stopka .cols div ul, #stopka .cols div p {
        list-style: none;
        color: #575757;
        font-size: 0.875em;
        font-style: italic;
        line-height: 1.857;
        margin-top: 2em; }
  #stopka .rectangle {
    width: 100%;
    clear: both;
    background-color: #000000;
    color: white;
    text-align: center;
    color: #ffffff;
    font-size: 0.75em;
    font-style: italic;
    line-height: 5; }
    #stopka .rectangle a {
      text-decoration: none;
      color: white; }
